*
{
	margin:0px;
	padding:0px;
	font-family:verdana;
}
body
{
	margin-bottom:100px;
	background:white;
}
header
{
    height: 250px;
	background:url(../img/juego.jpg);
}
p1
{
	color:white;
	padding:20px;
	font-size:100px;
}
a
{
	color:white;
}
nav
{
	padding:30px;
	text-align:right;
}
section
{
	margin:10px;
	padding:30px;
	width:50%;
	text-align:justify;
	float:left;
	background:#302021;
	color:white;
}
img
{
	margin:10px;
	width:400px;
	height:400px;
}

h1
{
	color:white;
}
ul
{
	color:white;
}
@media screen and (max-width:500px)
{
	section
	{
		font-size:15px;
		width:280px;
	}
	p1
	{
		font-size:50px;
	}
	img
	{
		width:340px;
	    height:340px;
	}
	h1
	{
		font-size:20px;
	}
}
